@model PessoasInfo.ViewModels.Detalhe.DetalheIndexViewModel

<h3 class="text-decoration-underline">Editar Dados</h3>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetalhe"/>
            <div class="form"></div>
        </form>
    </div>
</div>