@model PessoasInfo.ViewModels.Detalhe.DetalheIndexViewModel

<h3 class="text-decoration-underline">Editar Dados</h3>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetalhe"/>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control"/>
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalheTexto" class="control-label"></label>
                <textarea asp-for="DetalheTexto" class="form-control"></textarea>
                <span asp-validation-for="DetalheTexto" class="text-danger"></span>
            </div>
            <h4></h4>
            <div class="form-group">
                <input type="submit" value="Salvar Edição" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>
<h4></h4>

<div>
    <a asp-action="Index" class="btn btn-success btn-primary">Retornar a Listagem</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}