<div>
    <body>
    <div></div>

    <div class="alert alert-danger" role="alert">
        <h1>Algo de errado aconteceu </h1><span><strong>Erro:</strong> ainda não existem realtórios gerados.</span>
    </div>
    <picture class="text-center">
        <img class="img-thumbnail d-xxl-flex" src="~/Content/Images/HelpGerarRelatorio.png" width="20%" height="20%" alt="">
    </picture>
    <div></div>
    <div></div><span>Por favor, gere um relatório antes como ilustra a figura a cima&nbsp;</span>
    </body>
</div>