<div>
    <body>
    <div></div>

    <div class="alert alert-danger" role="alert">
        <h3>Algo de errado aconteceu ao tentar fazer log in</h3>
        <span><strong>Erro:</strong> Certifique-se de que sua senha e nome de usuário estejam corretos</span>
    </div>
    <picture class="text-center">
        <img class="img-thumbnail d-xxl-flex" src="https://allthings.how/wp-content/uploads/2021/02/allthings.how-how-to-block-someone-on-telegram-block-user.png" width="40%" alt="">
    </picture>
    <div></div>
    <div></div><span>Por questões de segurança, por favor, aguarde 10 segundos e tente novamente&nbsp;</span><a href="/Home/Index">clique aqui</a> para retonar a página inicial
    </body>
</div>