@model PessoasInfo.ViewModels.Login.LoginViewModel
@inject SignInManager<AppUser> SignInManager;

<form asp-controller="Accounts" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post"
      role="form">

    <h4>Acesse sua conta aqui</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div id="CarregandoLista" class="text-center" style="display: none">
        <img width="15%" src="~/Content/Images/Carregando.gif" class="rounded border p-5 border bordedr rounded-1 border-secondary-subtle" alt="">
    </div>

    <div class="form-group">
        <label asp-for="UserName" class="col-md-2"></label>
        <div class="col-md-4">
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-4">
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class=" col-md-10">
            <div class="custom-checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe"/>
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button id="UserLogin" type="submit" class="btn btn-success form-control">Log in</button>
        </div>
    </div>

    <p>
        <a id="RegistrarNovaConta" href="#" class="text-info text-decoration-underline">Registrar nova conta de usuário?</a>
    </p>

    @* Por algum motivo, a arquivo site.js não funciona com <a> *@
    <script>
        document.getElementById("RegistrarNovaConta").onclick = function () {
                window.alert("Contate seu gestor para que seja cadastrado uma conta nova!")
            }
    
            document.getElementById("UserLogin").onclick = function () {
                document.getElementById("CarregandoLista").style.display = "block"
            }
    </script>

    <p>
        <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
    </p>

</form>