@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-start">
    <h4 class="display-6 fst-italic"></h4>
    <main role="main" class="container">
        <h2 class="mt-5 fst-italic">PessoasInfo</h2>
        <p class="lead">De um simples usuário Linux para o mundo 🐧🌎<br/><code>Em memória de um grande amigo: Cristiano Noronha</code></p>
    </main>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <h4 class="text-success text-sm-start">Usuário Admin</h4>
    }

    else if (User.IsInRole("Comum"))
    {
        <h4 class="text-info text-sm-start">Usuário comum</h4>
    }

    else
    {
        <h4 class="text-black text-sm-start">Usuário básico</h4>
    }
}

@* <a class="btn btn-info small rounded-pill" asp-controller="Accesses" asp-action="AnonymousUser">Usuário Anônimo</a> *@
@* <a class="btn btn-success small rounded-pill" asp-controller="Accesses" asp-action="OnlyAdminChecker">Somente Adms</a> *@
@* <a class="btn btn-warning small rounded-pill" asp-controller="Accesses" asp-action="CheckClaims">Permissão de Criação</a> *@