@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="h5">MVC bem simples para cadastro de pessoas e seus dados. Utilizado: </p>
<br/>
<p>• Dapper </p>
<p>• EF Core </p>
<p>• ClosedXML </p>
<p>• Google Charts </p>
<p>• Twillio/SendGrid </p><br/>
<span class="h5">O link para o código fonte pode ser encontrado neste link: <a href="https://github.com/JGMelon22/PessoasInfo"> aqui</a></span>